body {
    max-width: 40rem;
    margin: auto;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #1f2937;
}
header {
    background-color: #1f2937;
    padding: 25px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid blanchedalmond;
    margin-right: 15px;
}
hr{
    border-color: gray;
}
.header-text {
    text-align: left;
    display: flex;
    flex-direction: column;
}
h2,p{
    color:white

}
h5{
    color: #747c8c;
}
li
{
color:white;
}
.experiences {
    text-align: left;
    margin: 20px;
    background-color:#1f2937;
    padding: 20px;
    border-radius: 10px;
    }
    .experiences h2::before {
        content: '\1F4BC';
        font-size: 1.2em;
    }
    .experiences h3 {
        font-weight: bold;
    }
    .experiences ol {
        list-style-type: none;
        padding: 0;
    }
    .experiences li {
        padding-left: 20px;
        text-indent: -20px;
    }
    .experiences li::before {
        content: '\2022';
        color: white;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
    }

    .container {
        display: flex;
        align-items: center;
        background: #303b4b;
        border-radius: 15px;
        padding: 20px;
        width: 38rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        margin: 10px;
    }
    .container img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-right: 15px;
    }
    .text {
        flex: 1;
    }
    .button {
        display: inline-block;
        background: #007BFF;
        color: white;
        padding: 8px 15px;
        text-decoration: none;
        border-radius: 5px;
    }

.socials-button-git{
    border-radius: 10%;
    background-image: url(resorces/github-logo.png);
    background-repeat:no-repeat;
    height:60px;
    width:70px;
    background-size: 50px 50px;
    background-position:center;
    background-color: transparent;
}
.socials-button-x{
    border-radius: 10%;
    background-image: url(resorces/x.png);
    background-repeat:no-repeat;
    height:60px;
    width:70px;
    background-size: 50px 50px;
    background-position:center;
    background-color: transparent;
}
.socials-button-link{
    border-radius: 10%;
    background-image: url(resorces/icons8-linkedin-48.png);
    background-repeat:no-repeat;
    height:60px;
    width:70px;
    background-size: 50px 50px;
    background-position:center;
    background-color: transparent;
}
.socials-button-ins{
    border-radius: 10%;
    background-image: url(resorces/instagram.png);
    background-repeat:no-repeat;
    height:60px;
    width:70px;
    background-size: 50px 50px;
    background-position:center;
    background-color: transparent;
}
.mail {
    display: flex;
    align-items: center;
    background: #f4f4f4;
    border-radius: 15px;
    padding: 10px;
    width: 38rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.input-box {
    flex: 1;
    border: none;
    padding: 10px;
    border-radius: 10px;
    outline: none;
}
.button {
    background: #007BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
    cursor: pointer;
    
}