.terminal {
  background: #0d0d0d;
  padding: 20px;
  min-height: 100vh;
  font-family: "Fira Code", monospace;
  font-size: 18px;
  color: #00ff99;
}

code {
  display: block;
  white-space: pre-wrap;
  color: #00ff99;
}

/* cursor */
code::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 18px;
  background: #00ff99;
  margin-left: 2px;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}
